.listing-card {
  margin-bottom: 12px;
  flex-flow: row nowrap;
  align-items: center;
  padding: 12px;

  @media (max-width:768px) {
    flex-flow: column nowrap;
  }

  .card-title {
    text-transform: capitalize;
  }
  .address {
    text-transform: capitalize;
  }

  .card-text {
    display: flex;
    justify-content: space-between;
    @media (max-width:768px) {
      flex-flow: column nowrap;
    }
  }

  .card-col-right {
    min-width: 150px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .capacity {
    margin-top: 20px;

    .capacity-warning {
      color: red;
      font-weight: bold;
    }
  }
}